@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url(../fonts/Roboto-Medium.ttf) format('truetype');
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #edf2f7;
  font-family: 'Roboto';
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
