@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url(../fonts/Roboto-Medium.ttf) format('truetype');
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #edf2f7;
  font-family: 'Roboto';
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;

  animation: fadein 1s;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
}

.container--sign-up,
.container--login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  animation: 1s 0s 1 slideInFromRight;
}

.container--personal-space {
  display: flex;
  flex-direction: column;
}

.section__title--personal-space {
  color: #341a58;
  /* color: #667eea; */
  margin-right: 10px;
}

.section--personal-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
  width: 80%;

  border-bottom: 1px solid #4a5568;
}

.section__button--personal-space {
  height: 44px;
  margin-left: 10px;
}

.select {
  background-color: #4a5568;
  color: white;
  margin-right: auto;
}
