@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url(../fonts/Roboto-Medium.ttf) format('truetype');
}

:root {
  --header-height: 100px;
  --background-color: #edf2f7;
  --primary-color: #341a58;
  --btn-active-color: #0070ba;
  --btn-primary-color: #667eea;
  --btn-secondary-color: #4a5568;
  --btn-secondary-color-lighter: rgb(132, 145, 167);
  --tab-color-focus: #1e1e1e;
  /* --tab-color-focus: #667eea; */
  --tab-color: #4c4c4c;
  /* --tab-color: #1e1e1e; */
  --tab-color-lighter: #717171;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Roboto';
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;

  animation: fadein 1s;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
}

.container--sign-up,
.container--login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  animation: 1s 0s 1 slideInFromRight;
}

.container--personal-space {
  display: flex;
  flex-direction: column;
}

.section__title--personal-space {
  color: var(--primary-color);
  margin-right: 10px;
}

.section--personal-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
  width: 80%;

  border-bottom: 1px solid var(--btn-secondary-color);
}

.section__button--personal-space {
  height: 44px;
  margin-left: 10px;
}

.select {
  background-color: var(--btn-secondary-color);
  color: white;
}

.select--personal-space {
  margin-right: auto;
}

.select:hover {
  cursor: pointer;
}
