.loader {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.loader .loader--description {
  font-size: 13pt;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.loader__container,
.loader__spinner {
  display: inherit;
}

.loader .loader__spinner {
  width: 80px;
  height: 80px;
  animation: anim-spin 0.8s linear infinite;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #341a58 0%, rgba(255, 0, 0, 0) 100%);
  border-radius: 50%;
  display: flex;
}

.loader .loader__spinner .spinner--color {
  background: var(--background-color);
}

.loader .loader__spinner .spinner-background-white {
  background: var(--background-color);
}

.loader .loader__spinner div {
  flex: 1 1 auto;
  border-radius: inherit;
  margin: 8px;
}

.loader--personal-space {
  margin-top: 100px;
}

.loader--ide__editor {
  margin-top: 150px;
}

.loader--ide {
  margin-top: 150px;
}
