@keyframes fadein--cross {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.project {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px;
  /* min-width: 15vw;
  min-height: 15vw;
  max-width: 25vw;
  max-height: 25vw; */
  width: 20vw;
  height: 20vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__infos {
  justify-content: center;
  text-align: justify;
}

.project:hover {
  cursor: pointer;
  border: thin solid #0070ba;
  box-shadow: 0 12px 16px 0 rgba(131, 127, 190, 0.336),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  display: block;
  animation: fadein--cross 1s;
  box-shadow: 0 12px 16px 0 rgba(131, 127, 190, 0.336),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.project__buttons {
  display: none;
  -webkit-transform: scale(1.1);
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.project:hover .project__name {
  display: none;
}
.project:hover .project__date {
  display: none;
}

.project:hover .project__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadein--cross 1s;

  /* font-weight: normal !important;
  font-size: 20px;
  color: red;
   */
}

.project__open {
  padding: 12px 36px;
  margin-top: 10px;
}

.project__delete {
  padding: 10px 24px;
  margin-top: 10px;
}
.project__name {
  font-size: xx-large;
  text-transform: none;
  margin-top: 10px;
  text-align: center;

  color: #341a58;
}

.container--project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.project__date {
  text-transform: capitalize;
  font-style: Serif;
  font-weight: bolder;
  color: #0070ba;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  top: 0px;
  right: 0px;
}

.project__date2 {
  text-transform: lowercase;
  font-style: italic;
  font-weight: lighter;
  color: #0070ba;
  margin: 10px;
}

/*****************************************************/
