// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Variables
$primary-color: #5063c7;
$secondary-color: #f9f9f9;
$lighter-blue-color: #6579dd;
$roboto: 'Roboto', sans-serif;

// Global Styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 250ms ease;
}

input {
  border: 1px solid #333;
  outline: none;
}

ul {
  list-style: none;
}

.app {
  display: flex;
}

.scrollable {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 8px;
  }
}

// ==================================================================================

// Connected Users Styles

/* .monacoEditor {
  margin-left: 300px;
  margin-top: -50px;
  margin-right: -5000px;
} */

.connected-users {
  width: 300px;
  height: 93vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: $primary-color;
  color: white;
  font-family: $roboto;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 300;
    margin-bottom: 40px;
  }

  .connected-user {
    padding: 10px 20px;
    margin-bottom: 15px;
    background: $lighter-blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    span {
      font-size: 1rem;
    }
  }
}

// ==================================================================================

// Messages Styles

.messages {
  width: calc(100vw - 300px);

  .message-list {
    overflow-y: auto;

    .message {
      font-weight: 300;
      width: fit-content;
      max-width: 70%;
      border-radius: 10px;
      margin-bottom: 20px;
      font-family: $roboto;
      padding: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &.sended {
        background: $primary-color;
        color: white;
        margin-left: auto;
      }

      &.received {
        background: $secondary-color;
        color: #333;

        time {
          color: #666 !important;
        }
      }

      .message-info {
        margin-bottom: 3px;

        span,
        time {
          font-size: 0.8rem;
        }

        span {
          color: orange;
        }

        time {
          color: #ddd;
        }
      }
    }
  }

  form {
    height: 45px;

    input {
      font-family: $roboto;
      display: inline-block;
      height: 100%;
      width: 85%;
      color: #333;
      padding: 5px 10px;
      font-size: 1.1rem;

      &::placeholder {
        font-size: 0.95rem;
        color: #ccc;
      }
    }

    button {
      font-family: $roboto;
      display: inline-block;
      height: 100%;
      width: 15%;
      background: $primary-color;
      color: white;
      font-size: 1.2rem;
      font-weight: 300;

      &:hover {
        background: $lighter-blue-color;
      }
    }
  }
}

// ==================================================================================

// Enter Username Form Styles

.enter-username-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    display: inline-block;
    width: 300px;
    height: 35px;
    margin-bottom: 10px;
    color: #333;
    padding: 5px 10px;
    font-size: 1rem;

    &::placeholder {
      color: #ccc;
      font-size: 0.9rem;
    }
  }

  button {
    background: $primary-color;
    color: white;
    font-family: $roboto;
    font-weight: 300;
    font-size: 1rem;
    padding: 7px 35px;

    &:hover {
      background: $lighter-blue-color;
    }
  }
}

// ==================================================================================

// Media Queries

@media (max-width: 960px) {
  .connected-users {
    width: 250px;

    h2 {
      font-size: 1.5rem;
    }

    .connected-user {
      img {
        width: 45px;
        height: 45px;
      }

      span {
        font-size: 0.9rem;
      }
    }
  }

  .messages {
    width: calc(100vw - 250px);

    .message p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 720px) {
  .messages {
    form {
      input {
        width: 75%;
        font-size: 1.1rem;
      }

      button {
        width: 25%;
        font-size: 1rem;
      }
    }
  }
}
